html {
	height: 100%;
}

body {
	position: relative;
	height: 100%;
}

#nav_panel_upper {
	width: 100%;
}

#status_bar {
	margin: 0;
	width: 100%;
	height: 60px;
}

.small_font_size {
	font-size: 0.7rem;
	font-weight:bold;
}

.home_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home_vertical_center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@media screen and (max-width: 768px) {
	#status_bar {
		display: none;
	}

	#title {
		visibility: hidden;
	}

	.group-list>label {
		display: none;
	}
}

.extra_padding_left {
	padding-left: 70px;
}

.red {
	color:red;
}

.icon_low_right {
	position: fixed;
	bottom: 0;
	right: 2%;
}

.btn_transparent {
	background-color: transparent;
}



